<div id="post-{{id}}" class="HomepagePhotos">
    <img class="HomepagePhotos-image" src="{{thumbnail}}" alt="Missing Image">
        <div class="HomepagePhotos-body">
            <p class="HomepagePhotos-title">{{title}}</p>
            <p class="HomepagePhotos-description">{{description}}</p>
            <a class="HomepagePhotos-postdetails" href="/post/{{id}}" >Post Details</a>
        </div>
</div>