<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{currentPost.title}} - The Wizard's Abode</title>
</head>

<div class="WA-individualpost">
    <div id="WA-postheader">
        <h1 id="WA-posttitle">Post Title: {{currentPost.title}}</h1>
    </div>

    <div id="WA-postinfo">
        <p id="WA-postauthor"><strong>Author:</strong> {{currentPost.username}}</p>
        <p id="WA-postdate"><strong>Creation Time: </strong><time datetime="2021-02-28T23:13:45">{{currentPost.created}}</time></p>
    </div>

    <div id="WA-flashmessagebetween"></div>
    <br>
    
    <div class="WA-individualpostborder">
        <div id="WA-imageplacement">
            <img id="WA-image" src="/{{currentPost.photopath}}" alt="Uh oh, looks like this image is wearing an invisibility cloak!">
        </div>

        <div id="WA-postdescription">
            <p id="WA-description">{{currentPost.description}}</p>
        </div>


    <div class="WA-comment-section">
        <div id="WA-comment-container">
            <div id="WA-messages">
                {{#each currentPost.comments}}
                    {{> comment this}}
                {{/each}}
            </div>
        </div>
    </div>
         
        <div id="WA-comment-box">
            <label for="comments"></label>
            <textarea id="individual-post-comments" name="comments" placeholder="Add a new comment..." 
            rows="5" cols="40" required></textarea>
            <button id="WA-comment-box-button" type="button">Submit Comment</button>     
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('span[class=date-posted]').forEach((postedDate) => {
            postedDate.textContent = new Date(postedDate.textContent).toLocaleString();
        });
    });

    function addMessage(data) {
        let template = document.createElement('template');
        template.innerHTML = `<div id="WA-message-${data.commentId}">
            <strong class="author-text">@${data.username}</strong>
            <span class="date-posted">${new Date().toLocaleString()}</span>
            <div class="comment-text">${data.comment}}</div>
            </div>
        `;
        document.getElementById('WA-messages').firstChild.before(template.content.firstChild);
    }

    document.getElementById('WA-comment-box-button').onclick = (event => {
        let commentText = document.getElementById('individual-post-comments').value;
        let postId = document.location.pathname.match(/\d+/g).map(Number)[0];

        if (!commentText) {
            return;
        }

        let fetchOptions = {
            method: "POST",
            headers: {
                "Content-Type":"Application/json"
            },
            body: JSON.stringify({
                comment:commentText, postId,postId
            })
        }
            fetch('/comments/create', fetchOptions)
            .then((response) => response.json())
            .then((data) => {
                if (data.code == 1) {
                    addMessage(data)
                } else {
                    addFlashFromFrontEnd(data.message, data.status);
                }
            })
            .catch((err) => console.log(err));
        }
    )
        
    

</script>